.box {
    max-width: 400px;
    /* background-color: #2F3BFF; */
    /* box-shadow: 0 0 20px #FBDE21; */
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;
    text-align: center;
}
.generate {
    background-color: #2F3BFF;
    padding: 10px;
    font-size: 1.5em;
    margin: 10px;
    color: white;
    border: none;
}
.generate:hover {
    cursor: pointer;
}
.generate:active {
    background-color: white;
    color: #2F3BFF;
}
.generate:input{
    display: none;
}
.inputError{
    color: red;
    font-size: 1em;
}